<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>You got a new user from <%= @user.email %>!</p>

    <%= link_to "Approve user", approve_user_path %>
    <p></p>
  </body>
</html>
